{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()}</h1>
		{include ../tabs.latte active => 'form'}
	</div>

	<div class="control-group">
	{$entry->getDate()->format('d.m.Y H:i:s')}
	
	
	{foreach $entry->getData() as $key => $value}
		<div>
			<strong>{$key}</strong>
			<span>{$value}</span>
		</div>
	{/foreach}
	</div>
	
{/block}