{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()} - {_'Places'}</h1>
		{include ../tabs.latte active => 'place'}
	</div>
	<br />
	<div class="control-group">
	<a class="btn btn-primary ajax" n:href="editPlace idPage => $idPage">{_'Add place'}</a>
	</div>
	<div class="control-group">
	{control placeGrid}
	</div>
{/block}