{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()} - {_'Edit place'}</h1>
		{include ../tabs.latte active => 'place'}
	</div>
	
	<div class="control-group">
	{control placeForm}
	</div>
	
{/block}