{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()} - {_'Contacts'}</h1>
		{include ../tabs.latte active => 'contact'}
	</div>
	<br />
	<div class="control-group">
	<a class="btn btn-primary ajax" n:href="editContact idPage => $idPage">{_'Add contact'}</a>
	</div>
	

	<div class="control-group">
	{control contactGrid}
	</div>
	
{/block}