{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()} - {_'Edit contact'}</h1>
		{include ../tabs.latte active => 'contact'}
	</div>
	
	<div class="control-group">
	{control contactForm}
	</div>
	
{/block}